@import './styles/leetbook.css';
@import './styles/bookIntro.css';
@import './styles/leetbookCover.css';
@import './styles/panelCol.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: initial;
}
