@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/leetcode.css';
@import './styles/bookIntro.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

.book-overview li {
  list-style: disc !important;
}

.answer-code pre,
.editor-code pre {
  background: none !important;
}

.tag-wiki img {
  max-width: 100% !important;
}
.leetbookContainer::before {
  content: '';
  height: 800px;
  position: absolute;
  inset: 0px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
    url(https://assets.leetcode.cn/aliyun-lc-upload/leetbook/cover/200901033854/Leetbook_%E5%9B%BE%E8%A7%A3%E7%AE%97%E6%B3%95%E6%95%B0%E6%8D%AE%E7%BB%93%E6%9E%84_300x400.jpg);
  background-position: 50% 17%;
  opacity: 0.2;
  background-size: cover;
  filter: blur(20px);
  z-index: -1;
}
.leetbookCoverImageContainer:hover {
  transform: translateY(-5px);
  transition: all 0.4s ease 0s;
}
.leetbookCoverImage:hover {
  box-shadow: rgba(60, 54, 54, 0.5) 0px 0px 21px;
  will-change: box-shadow;
  transition: all 0.4s ease 0s;
}
