@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

html,
body {
  height: 100%;
}
.answer-code pre,
.editor-code pre {
  background: none !important;
}
